## Practice Questions

1. Create two list objects with the following elements in each: [2, 3, 7, 89, 9] [8, 9.8, 9, 8, 89]. Print each list withthe object name. For example: the output will look like this: 'List1: [2, 3, 7, 89, 9] LIst2: [8, 9.8, 9, 8, 89]'

In [1]:
l1 = [2, 3, 7, 89, 9]
l2 = [8, 9.8, 9, 8, 89]
print(f'List1: {l1}')
print(f'List2: {l2}')

List1: [2, 3, 7, 89, 9]
List2: [8, 9.8, 9, 8, 89]

2. Define a string object which states the following: 'Twinkle, twinkle, little star,How I wonder what you are! Up above the world so high, Like a diamond in the sky.'. Count the number of times the letters 'e', 'a' and 't' appear. Then, write a function to split the separate each word of the string. Hint: you can use the split() method.

In [46]:
s = "Twinkle, twinkle, little star,How I wonder what you are! Up above the world so high, Like a diamond in the sky.".lower()

e = 0
a = 0
t = 0
for i in s:
    if i == 'e':
        e += 1
    elif i == 'a':
        a += 1
    elif i == 't':
        t += 1

print(f"There are {e} e's")
print(f"There are {a} a's")
print(f"There are {t} t's")

There are 9 e's
There are 6 a's
There are 8 t's

In [24]:
list(
    filter(
        lambda a: a != '',
        s.replace(","," ").replace("!", " ").replace(".", " ").split(" ")
    )
)

['Twinkle',
 'twinkle',
 'little',
 'star',
 'How',
 'I',
 'wonder',
 'what',
 'you',
 'are',
 'Up',
 'above',
 'the',
 'world',
 'so',
 'high',
 'Like',
 'a',
 'diamond',
 'in',
 'the',
 'sky']

3. Create a dictionary with the following keys and corresponding values related to cars and models: 

    * Keys: Toronto, Vancouver, Montreal, Winnipeg
    * Values: Ontario, British Columbia, Quebec, Manitoba

Write a function to add an entry to the dictionary: "Saskatoon: Saskatchewan".

In [33]:
locations = {
    "Toronto": "Ontario",
    "Vancouver": "British Columbia",
    "Montreal": "Quebec",
    "Montreal": "Manitoba",
}
locations["Saskatoon"] = "Saskatchewan"
locations

{'Toronto': 'Ontario',
 'Vancouver': 'British Columbia',
 'Montreal': 'Manitoba',
 'Saskatoon': 'Saskatchewan'}

4. For the dictionary in the previous question, define a function to check if a value is in the dictionary. Then, use the function to check if Alberta is in the dictionary.

In [38]:
def has(d, k):
    for (k1,_) in d.items():
        if k1 == k:
            return True
    return False
    
has(locations, "Alberta")

False

5. Define variables to represent the following rectangle coordinates: (2,3), (2,8), (4,3), (4,8). Then, write an if statement to check if the point (3,5) is inside the rectangle.

In [42]:
bottomLeft = (2,3)
topLeft = (2,8)
bottomRight = (4,3)
topRight = (4,8)

def inside(bl,tr,p):
    # above bottom left point, e.g. (2,3)
    # and
    # below top right point, e.g. (4,8) 
    return p >= bl and p <= tr

In [43]:
inside(bottomLeft,topRight,(3,5))

True

6. Write a function to compute the n-th element of the Fibonacci sequence recursively. If you need to familiarize yourself with the Fibonacci sequence, please refer to https://en.wikipedia.org/wiki/Fibonacci_number (Fibonacci number, n.d.). The function should take an integer number n as an argument and return n-th element of the Fibonacci sequence. The first two numbers in the sequence are 0 and 1, and each subsequent number is the sum of the previous two.

In [56]:
def fib(n):
    if n <= 1:
        return n
    else:
        return fib(n-2) + fib(n-1)

In [57]:
fib(0)

0

In [58]:
fib(1)

1

In [59]:
fib(2)

1

In [60]:
fib(3)

2

In [61]:
fib(4)

3

In [62]:
fib(8)

21

## Answers

1. Create two list objects with the following elements in each: [2, 3, 7, 89, 9] [8, 9.8, 9, 8, 89]. Print each list withthe object name. For example: the output will look like this: 'List1: [2, 3, 7, 89, 9] LIst2: [8, 9.8, 9, 8, 89]'

In [6]:
list1 = [2,3,7,89,9]
list2 = [8,9.8,9,8,89]

print('List1: ',list1,'and', 'List2: ',list2)

List1:  [2, 3, 7, 89, 9] and List2:  [8, 9.8, 9, 8, 89]

2. Define a string object which states the following: 'Twinkle, twinkle, little star,How I wonder what you are! Up above the world so high, Like a diamond in the sky.'. Count the number of times the letters 'e', 'a' and 't' appear.

In [27]:
string = 'Twinkle, twinkle, little star,How I wonder what you are! Up above the world so high, Like a diamond in the sky.'
print(string.count('a'), string.count('e'), string.lower().count('t')) #apply lower() as Python is case sensitive

6 9 8

In [26]:
#alternative solution with a loop
string_list = ['a','e','t']

for i in string_list:
    print(string.lower().count(i))

6
9
8

In [37]:
string.split(" ")

['Twinkle,',
 'twinkle,',
 'little',
 'star,How',
 'I',
 'wonder',
 'what',
 'you',
 'are!',
 'Up',
 'above',
 'the',
 'world',
 'so',
 'high,',
 'Like',
 'a',
 'diamond',
 'in',
 'the',
 'sky.']

3. Create a dictionary with the following keys and corresponding values related to cars and models: 

    * Keys: Toronto, Vancouver, Montreal, Winnipeg
    * Values: Ontario, British Columbia, Quebec, Manitoba

Write a function to add an entry to the dictionary: "Saskatoon: Saskatchewan".

In [29]:
d = {'Toronto': 'Ontario', 'British Columbia': 'Vancouver', 'Quebec': 'Montreal', 'Manitoba': 'Winnipeg'}

In [30]:
d.update({'Saskatoon':'Saskatchewan'})

In [31]:
d

{'Toronto': 'Ontario',
 'British Columbia': 'Vancouver',
 'Quebec': 'Montreal',
 'Manitoba': 'Winnipeg',
 'Saskatoon': 'Saskatchewan'}

4. For the dictionary in the previous question, define a function to check if a value is in the dictionary. Then, use the function to check if Alberta is in the dictionary.

In [34]:
def key_check(x):
    if x in d:
        print('Key is present in the dictionary')
    else:
        print('Key is not present in the dictionary')

key_check('Alberta')

Key is not present in the dictionary

5. Define variables to represent the following rectangle coordinates: (2,3), (2,8), (4,3), (4,8). Then, write an if statement to check if the point (3,5) is inside the rectangle.

In [35]:
corner1=(2,3)
corner2=(2,8)
corner3=(4,3)
corner4=(4,8)

point=(3,5)

if point[0]>=corner1[0] and point[0]<=corner3[0] and point[1]>=corner1[1] and point[1]<=corner4[1]:
    print('The point is inside the rectangle')
else:
    print('The point is not in the rectangle')

The point is inside the rectangle

6. Write a function to compute the n-th element of the Fibonacci sequence recursively. If you need to familiarize yourself with the Fibonacci sequence, please refer to https://en.wikipedia.org/wiki/Fibonacci_number (Fibonacci number, n.d.). The function should take an integer number n as an argument and return n-th element of the Fibonacci sequence. The first two numbers in the sequence are 0 and 1, and each subsequent number is the sum of the previous two.

In [36]:
'''The first two numbers are 0 and 1; so that if n is 0 or 1,
the numbers in Fibonacci sequence are 0 and 1, correspondingly.
For other n we take sum of two preceding numbers in the sequence.'''


def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)